<footer class="container mt-4 pt-2">
  <div class="row">
    <ul class="nav">
      <li class="nav-item"><span class="nav-link">&copy; 2018 DockerWest</span></li>
      <li class="nav-item"><a class="nav-link" href="{{ site.repo }}/about">About us</a></li>
      <li class="nav-item"><a class="nav-link" href="https://hub.docker.com/u/dockerwest/" target="_blank">DockerWest on Docker Hub</a></li>
      <li class="nav-item"><a class="nav-link" href="https://github.com/dockerwest" target="_blank">DockerWest on Github</a></li>
    </ul>
  </div>
</footer>
